<aside class="contacts">
	<div class="user-container">
		<div class="user">
			<div class="avatar user-avatar"></div>
			<div class="text">
				<span class="name" id="username"></span>
				<ui-user-status self></ui-user-status>
				<span class="status-message" id="status-message"></span>
			</div>
		</div>

		<button class="btn edit-profile-btn" title="Edit Profile"><i class="fas fa-pen"></i></button>
	</div>

	<div class="friends-header">
		<h3 class="title"><i class="fas fa-user-friends" style="margin-right: 5px;"></i> Friends</h3>
		<div>
			<btn class="btn add-friend-btn" id="add-friend-btn" title="Add Friend"><i class="fas fa-user-plus"></i></btn>
		</div>
	</div>

	<div class="search">
		<i class="fas fa-search search-icon"></i>
		<input type="text" class="search-bar" placeholder="Filter"/>
	</div>

	<ui-contact-list id="contact-list"></ui-contact-list>
</aside>