@import "../../global.css";

.contacts
{
	background: var(--background-alt);
	height: 100%;
	width: 25vw;
	padding-top: 10px;
	overflow-y: auto;
}

.contacts-header
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.contacts .title
{
	padding-left: 10px;
}

.search
{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 5px;
	width: 120px;
}

.search .search-icon
{
	color: rgba(255, 255, 255, 0.4);
	position: absolute;
	left: 15px;
	top: 6px;
}

.search-bar
{
	border-radius: 5px;
	font-size: 16px;
	padding: 5px;
	padding-left: 35px;
	width: 100%;
}

.title
{
	color: var(--text-dark);
}

.user-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 5px;
	margin-bottom: 20px;
}

.user-container:hover > .edit-profile-btn
{
	display: block;
}

.user
{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.edit-profile-btn
{
	display: none;
}

.user-avatar
{
	min-width: 50px;
	height: 50px;
}

#username
{
	font-weight: bold;
}

.status
{
	flex: 1;
	display: block;
}

.status-message
{
	display: block;
	color: rgba(255, 255, 255, 0.65);
}

@media(max-width: 600px)
{
	.contacts
	{
		width: 100vw;
	}
}

@media(max-width: 800px)
{
	.search
	{
		padding: 0;
	}

	.search .search-icon
	{
		left: 10px;
	}

	.contacts-header
	{
		flex-direction: column;
	}
}

@media(max-width: 990px)
{
	.contacts-header
	{
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}

	.search
	{
		width: 100%;
	}

	.contacts .title
	{
		margin-bottom: 5px;
	}
}

@media(min-width: 1350px)
{
	.search
	{
		width: 200px;
	}
}

@media(min-width: 1550px)
{
	.search
	{
		width: auto;
	}
}