@import "../../global.css";

.thread .header
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

.thread .header .avatar
{
	min-width: 30px;
	max-width: 30px;
	height: 30px;
}

.thread .header .text
{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	overflow: hidden;
}

.thread .header .text .name
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.thread .header .date
{
	color: var(--text-darker);
	font-size: 14px;
}