@import "../../global.css";

.modal
{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	padding: 15vh 15vw;
	z-index: 10;
}

.modal-title
{
	margin: 0;
}

.modal-nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.close-btn
{
	padding: 0;
}

.modal-body
{
	width: 100%;
	height: 100%;
	background: var(--modal-bg);
	border-radius: 5px;
	border: solid 1px rgb(24, 24, 24);
	padding: 15px;
	padding-top: 10px;
}

.modal-content, .modal-content-container
{
	height: 100%;
}

@media(max-width: 400px)
{
	.modal
	{
		padding: 5vh 5vw;
	}
}