.add-contact-modal
{
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	padding: 20px;
	padding-bottom: 50px;
}

.tox-id-input
{
	padding: 10px;
	border-radius: 5px;
}

.message-input
{
	border-radius: 5px;
	padding: 10px;
	height: 100%;
	resize: none;
}

.send-friend-request-btn
{
	align-self: center;
}

@media(max-width: 600px)
{
	.add-contact-modal
	{
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}