@import "../../global.css";

.contact-status
{
	margin-left: 10px;
	display: block;
}

.status-message
{
	display: block;
	color: rgba(255, 255, 255, 0.65);
	overflow: hidden;
	text-overflow: ellipsis;
}

.contact
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 0.1s ease-in;
	user-select: none;
}

.contact .text
{
	margin-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.contact .name
{
	flex: 1;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contact .notification-icon
{
	margin-left: 10px;
}

.contact:hover
{
	background: rgba(255, 255, 255, 0.05);
}

.contact.active
{
	background: var(--background);
	cursor: default;
}

.contact.notification
{
	background: var(--primary-dark);
	color: "white";
}

.contact.notification:hover
{
	background: var(--primary);
}

.contact.notification .name
{
	color: white;
}

.contact.notification .status-message
{
	color: rgba(255, 255, 255, 0.8);
}

.contact.notification .notification-icon .counter
{
	color: white;
}

.contact-info-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
}