@import "../../global.css";

.message
{
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	padding: 5px 0;
}

.message-text
{
	white-space: pre-line;
	word-break: break-all;
	width: 100%;
}

.date
{
	color: var(--text-dark);
}

code, pre, blockquote
{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

code, pre
{
	color: #fff4c3;
}

code
{
	padding: 2px 5px;
}

pre
{
	padding: 10px;
	tab-size: 4;
	white-space: pre-wrap;
}

blockquote
{
	border-left: solid 5px rgba(255, 255, 255, 0.2);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 10px;
	padding-left: 20px;
	margin: 0 20px;
}