@import "../../global.css";

.message
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 0;
}

.message-text
{
	white-space: pre-line;
	word-break: break-all;
}

.date
{
	color: var(--text-dark);
}