@import "../../global.css";

.topbar
{
	background-color: rgb(15, 14, 13);
	-webkit-app-region: drag;
}

.topbar .app-menu
{
	display: flex;
	flex-direction: row;
	-webkit-app-region: no-drag;
	color: rgba(255, 255, 255, 0.7);
}

.topbar .app-menu .mobile-only
{
	position: relative;
}

.topbar .app-menu .mobile-only .mobile-message-notification
{
    background: var(--primary);
    padding: 2px 4px;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 14px;
    right: 4px;
    font-size: 12px;
}

.topbar .notifications
{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.topbar .notifications .request-notification-btn
{
	padding: 0px 10px;
	margin-right: 10px;
}

@media(max-width: 600px)
{
	.topbar .app-menu
	{
		justify-content: space-evenly;
		flex: 1;
	}

	.topbar .app-menu .item-name
	{
		display: none;
	}
}