<div class="topbar flex-row justify-between">
	<div class="app-menu">
		<button class="btn mobile-only" id="show-sidebar-btn"><i class="fas fa-user-friends"></i>
			<!-- <div class="mobile-message-notification" ><i class="fas fa-envelope"></i></div> -->
		</button>
		<button class="btn"><i class="fas fa-user-cog"></i> <span class="item-name">Profile</span></button>
		<!-- <button class="btn" title="New Group"><i class="fas fa-users"></i> <span class="item-name">New Group</span></button> -->
		<button class="btn"><i class="fas fa-cog"></i> <span class="item-name">Settings</span></button>
	</div>

	<div class="notifications">
		<button class="btn btn-primary request-notification-btn hidden" title="You have new friend requests">
			<span class="notification-btn-title"></span> <i class="fas fa-user-plus"></i>
		</button>
	</div>
</div>