<div class="messenger">
	<header>
		<div class="contact-info">
			<div class="avatar"></div>
			<div class="text">
				<div class="name-status-row">
					<div class="name-container">
						<span class="name"></span>
					</div>

					<ui-user-status id="status" style="margin-left: 5px;"></ui-user-status>
				</div>

				<div class="status-message-container">
					<span class="status-message"></span>
				</div>
			</div>
		</div>

		<div class="actions">
			<!-- <button class="btn" title="Friend Info"><i class="fas fa-user-circle"></i></button>
			<button class="btn" title="Bookmarked Messages"><i class="fas fa-bookmark"></i></button> -->
			<button class="btn btn-primary" disabled title="Call"><i class="fas fa-phone"></i></button>
			<button class="btn btn-primary" disabled title="Video Call"><i class="fas fa-video"></i></button>
			<button class="btn btn-primary" disabled title="Screen Sharing"><i class="fas fa-desktop"></i></button>
		</div>
	</header>

	<div class="chatlog-container">
		<ui-chatlog id="chatlog"></ui-chatlog>
	</div>

	<ui-chatbox id="chatbox"></ui-chatbox>
</div>