<div class="messenger hidden">
	<header>
		<div class="contact-info">
			<div class="avatar"></div>
			<div class="text">
				<div class="name-status-row">
					<div class="name-container">
						<span class="name"></span>
					</div>

					<ui-user-status id="status" style="margin-left: 5px;"></ui-user-status>
				</div>

				<div class="status-message-container">
					<span class="status-message"></span>
				</div>
			</div>
		</div>

		<div class="actions">
			<button class="btn btn-secondary" disabled title="Call"><i class="fas fa-phone"></i> <span class="action-name">Call</span></button>
			<button class="btn btn-secondary" disabled title="Video Call"><i class="fas fa-video"></i> <span class="action-name">Video Call</span></button>
			<button class="btn btn-secondary" disabled title="Screen Sharing"><i class="fas fa-desktop"></i> <span class="action-name">Screen Sharing</span></button>
		</div>
	</header>

	<div class="chatlog-container">
		<ui-chatlog id="chatlog"></ui-chatlog>
	</div>

	<ui-chatbox id="chatbox"></ui-chatbox>
</div>